{% extends "layout.html" %}
{% block content %}

<div class="container">
  <div class="display-title">
  <div class="text-center">
    <span class="display-4">Interactive VAE <small class="text-muted"> MNIST </small></span>
  </div>
  </div>  
</div>


<div class="container">
    <div class="row">

      <div class="col-md-6">
          <div class="row">
            <img id=2dplot src="/static/images/vae-mnist.jpeg" width="100%" height="100%" class="img-responsive" />
          </div>
          <div class="row">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-small">X</span>
              </div>
              <input type="text" id="txtX" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-small">
            </div>
            
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-small">Y</span>
                </div>
                <input type="text" id="txtY" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-small">
              </div>
              
            
          </div>
      </div>
      
      <div class="col-md-6">
        <p class="text-center">
          MNIST の結果
        </p>  
      </div>

    </div>
</div>


{% endblock %}
